.ipynb_checkpoints
__pycache__

/.vscode
/dlib_dat/dlib_face_recognition_resnet_model_v1.dat
/dlib_dat/mmod_human_face_detector.dat
/dlib_dat/shape_predictor_5_face_landmarks.dat
/dlib_dat/shape_predictor_68_face_landmarks.dat
